{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<h2>Active Listings</h2>

{% for i in listings %}

<div>
    <div>
        <a href="{% url 'listings' i.item.id %} "><img src="{% static 'auctions/images/1.png' %}" alt="img 1" /></a>
    </div>
    <div class="listing-description">
        <ul>
            <li><strong>{{ i.item.id}}</strong></li>
            <li><strong>{{ i.item.itemName}}</strong></li>
            <li><em>Price: </em>${{ i.item.price}}</li>
            <li>Created {{ i.createDate }} {{ i.createTime }}</li>
        </ul>
    </div>
</div>

{% endfor %} {% endblock %}