{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<h2>Active Listings</h2>

{% for item in items %}

<div>
    <div>
        <a href="{% url 'listings' item.id %} "><img src="{% static 'auctions/' %}{{item.image}}" alt="" /></a>
    </div>
    <div class="listing-description">
        <ul>
            <li><strong>{{ item.itemName}}</strong></li>
            <li><em>Price: </em>${{ item.price}}</li>
            <li>Created {{ item.createDate }} {{ item.createTime }}</li>
        </ul>
    </div>
</div>

{% endfor %} 
{% endblock %}