{% extends "auctions/layout.html" %} 
{% load static %} 
{% block body %}
<h2>Listings: {{item.bidItem.itemName}}</h2>
<div>
    <img src="{% static 'images/' %}{{item.bidItem.image}} " alt="item img" />
</div>
<div>
    <ul>
        <li>{{ item.bidItem.image }}</li>
        <li><strong>Item ID : {{ item.bidItem.id}}</strong></li>
        <li><strong>Item Name: {{ item.bidItem.itemName}}</strong></li>
        <li><em>Price: </em>${{ item.bidItem.price}}</li>
        <li>Created {{ item.bidItem.createDate }} {{ item.bidItem.createTime }}</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Current Bid: ${{ item.bidPrice }}</strong></li>
        {% if item.bidCount == 0 %}
        <li> There are no bid for this item. Be the first one!!!!</li>
        {% else %}
        <li> {{ item.bidCount }} bids so far.</li>
        {% endif %}
    </ul>
    <form action="{% url 'bid' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="number" name="bid" placeholder="Bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
</div>
<div>
    <h2>Details</h2>
    <ul>
        <li>Listed by: {{ item.bidItem.listedBy }}</li>
        <li>Category: {{ item.bidItem.category }}</li>
    </ul>
</div>
{% endblock %}